<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/output.css">
</head>
<body class="laptop:grid tablet:grid-cols-2columns tablet:grid-rows-tabletRows hp:flex hp:flex-col min-h-[100vh] app-container">
    <header class="bg-white items-center grid grid-cols-2 h-[86px] hp:my-10 laptop:my-0 z-20 px-[32px] laptop:px-[64px] w-full">
        <div class="hp:col-span-4 flex laptop:hidden justify-between hp:mb-5">
            <img src="../assets/logoWeb.svg" alt="skomdaInventaris">
            <button class="flex justify-around flex-col hp:min-w-[30px] hp:min-h-[24px] tablet:min-w-[44px] tablet:min-h-[44px]">
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
            </button>
        </div>
        <div class="header__search flex bg-natural-8 rounded-md px-4 py-3 h-12 laptop:max-w-96 hp:col-start-1 hp:col-span-2">
            <img src="../assets/searchIcon.svg" alt="Search">
            <input 
            type="text"
            placeholder="Search"
            class="outline-none bg-natural-8 rounded-md ml-3 w-full">
        </div>
        <div class="header__profile flex items-center col-start-3">
            <a href="" class="hp:ml-3">
                <img src="../assets/bell.svg" alt="">
            </a>
            <a href="" class="ml-[32px]">
                <img src="../assets/userProfileDummy.svg" alt="">
            </a>
        </div>
    </header>
    <aside class="bg-white h-full w-full z-10 col-start-1 row-start-1 row-span-3 p-7 shadow-sidebar hidden tablet:hidden laptop:block ">
        <img src="../assets/logoWeb.svg" alt="skomdaInventaris">
        <nav class="mt-12">
            <h2 class="font-semibold">Peminjaman</h2>
            <ul class="gap-3 flex flex-col mt-4">
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" class="text-white" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Peminjaman Barang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Peminjaman Ruang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Sewa Barang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Sewa Ruang</p>
                    </a>
                </li>
            </ul>
            <h2 class="font-semibold mt-[2rem]">Peminjaman</h2>
            <ul class="gap-3 flex flex-col mt-4">
                <li>
                    <a href="" class="p-3 flex bg-main rounded-lg">
                        <img src="../assets/searchIcon-white.svg" class="text-white" alt="inventaris">
                        <p class="ml-2 font-semibold text-white">Cari Barang</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="bg-white px-[32px] laptop:px-[64px] hp:row-start-3 tablet:row-start-2 col-span-2">
        <div class="w-full bg-mainbg h-[105px] rounded-[15px] mt-4 flex justify-between">
            <div class="ml-8 pt-[24px]">
                <h3 class="text-main font-semibold text-[20px]">Pencarian Barang</h3>
                    <a href="" class="text-natural-4">Pencarian</a>
                    <span>> Cari Barang</span>
            </div>
            <img src="../assets/piggy.svg" alt="piggy">
        </div>
        <div class="shadow-formBarang mt-6 rounded-[15px] mb-14  hp:mx-auto">
            <h3 class="border-b-natural-8 pt-4 relative border-b-[1px] px-6 pb-4 after:content-[''] after:w-[150px] after:h-[1px] after:absolute after:bottom-[-1px] after:left-0 after:bg-main">Form Pencarian</h3>
            <div class="p-[2rem] laptop:flex justify-between hp:block">
                <table cellspacing="0" cellpadding="5">
                    <tr>
                        <td class="font-semibold align-top w-[13rem]">Nama Barang</td>
                        <td class="align-top">:</td>
                        <td class="text-natural-4 align-top">Televisi</td>
                    </tr>
                    <tr>
                        <td class="font-semibold align-top">Kategori/Jenis</td>
                        <td class="align-top">:</td>
                        <td class="text-natural-4 align-top">Elektronik</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="5">
                    <tr>
                        <td class="font-semibold align-top w-[13rem]">ID Barang</td>
                        <td class="align-top">:</td>
                        <td class="text-natural-4 align-top">41JLAO</td>
                    </tr>
                    <tr>
                        <td class="font-semibold align-top">No Seri</td>
                        <td class="align-top">:</td>
                        <td class="text-natural-4 align-top">ASOP210L</td>
                    </tr>
                </table>
                <div class="flex gap-x-2 items-center py-3 px-10 bg-mainbg rounded-[10px] text-main mt-[1rem]">
                    <a href="" class="mx-auto text-lg">Edit</a>
                    <img src="../assets/IconEditRed.svg" alt="" class="">
                </div>
            </div>
        </div>
        <div class="shadow-formBarang rounded-[15px]  hp:mx-auto mb-[1rem]">
            <h3 class="border-b-natural-8 pt-4 relative border-b-[1px] px-6 pb-4 after:content-[''] after:w-[150px] after:h-[1px] after:absolute after:bottom-[-1px] after:left-0 after:bg-main">Hasil Pencarian</h3>
            <div class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 gap-2 p-4">
                <div class=" laptop:flex hp:block hp:mt-[2rem] desktop:mt-0 laptop:pe-[1rem]">
                    <div class="laptop:h-fit hp:h-fit tablet:h-fit bg-white shadow-lg rounded-xl p-4 hp:w-full gap-y-[1.5rem] flex flex-col">
                        <div class="rounded-xl">
                            <img src="../assets/television.png" alt="" width="300" class="mx-auto py-auto w-auto">
                        </div>
                        <div class="flex justify-between items-center">
                            <a href="" class="bg-successbg py-2 px-3 rounded-lg text-success border-success border-[1px]">Tersedia</a>
                            <h1 class="font-semibold laptop:text-2xl hp:text-lg">TV 13J12</h1>
                        </div>
                        <div class="">
                            <p class="text-natural-6">Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="py-[1rem]">
                            <a href="" class="bg-main px-8 py-3 hover:bg-main_hover text-white rounded-[10px]">Lihat Detail</a>
                        </div>
                    </div>
                </div>
                <div class=" laptop:flex hp:block hp:mt-[2rem] desktop:mt-0 laptop:pe-[1rem]">
                    <div class="laptop:h-fit hp:h-fit tablet:h-fit bg-white shadow-lg rounded-xl p-4 hp:w-full gap-y-[1.5rem] flex flex-col">
                        <div class="rounded-xl">
                            <img src="../assets/television.png" alt="" width="300" class="mx-auto py-auto w-auto">
                        </div>
                        <div class="flex justify-between items-center">
                            <a href="" class="bg-successbg py-2 px-3 rounded-lg text-success border-success border-[1px]">Tersedia</a>
                            <h1 class="font-semibold laptop:text-2xl hp:text-lg">TV 13J12</h1>
                        </div>
                        <div class="">
                            <p class="text-natural-6">Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="py-[1rem]">
                            <a href="" class="bg-main px-8 py-3 hover:bg-main_hover text-white rounded-[10px]">Lihat Detail</a>
                        </div>
                    </div>
                </div>
                <div class=" laptop:flex hp:block hp:mt-[2rem] desktop:mt-0 laptop:pe-[1rem]">
                    <div class="laptop:h-fit hp:h-fit tablet:h-fit bg-white shadow-lg rounded-xl p-4 hp:w-full gap-y-[1.5rem] flex flex-col">
                        <div class="rounded-xl">
                            <img src="../assets/television.png" alt="" width="300" class="mx-auto py-auto w-auto">
                        </div>
                        <div class="flex justify-between items-center">
                            <a href="" class="bg-successbg py-2 px-3 rounded-lg text-success border-success border-[1px]">Tersedia</a>
                            <h1 class="font-semibold laptop:text-2xl hp:text-lg">TV 13J12</h1>
                        </div>
                        <div class="">
                            <p class="text-natural-6">Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="py-[1rem]">
                            <a href="" class="bg-main px-8 py-3 hover:bg-main_hover text-white rounded-[10px]">Lihat Detail</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </main>
</body>
</html>