<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/output.css">
</head>
<body class="laptop:grid tablet:grid-cols-2columns tablet:grid-rows-tabletRows hp:flex hp:flex-col min-h-[100vh] app-container">
    <header class="bg-white items-center grid grid-cols-2 h-[86px] hp:my-10 laptop:my-0 z-20 px-[32px] laptop:px-[64px] w-full">
        <div class="hp:col-span-4 flex laptop:hidden justify-between hp:mb-5">
            <img src="../assets/logoWeb.svg" alt="skomdaInventaris">
            <button class="flex justify-around flex-col hp:min-w-[30px] hp:min-h-[24px] tablet:min-w-[44px] tablet:min-h-[44px]">
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
            </button>
        </div>
        <div class="header__search flex bg-natural-8 rounded-md px-4 py-3 h-12 laptop:max-w-96 hp:col-start-1 hp:col-span-2">
            <img src="../assets/searchIcon.svg" alt="Search">
            <input 
            type="text"
            placeholder="Search"
            class="outline-none bg-natural-8 rounded-md ml-3 w-full">
        </div>
        <div class="header__profile flex items-center col-start-3">
            <a href="" class="hp:ml-3">
                <img src="../assets/bell.svg" alt="">
            </a>
            <a href="" class="ml-[32px]">
                <img src="../assets/userProfileDummy.svg" alt="">
            </a>
        </div>
    </header>
    <aside class="bg-white h-full w-full z-10 col-start-1 row-start-1 row-span-3 p-7 shadow-sidebar hidden tablet:hidden laptop:block ">
        <img src="../assets/logoWeb.svg" alt="skomdaInventaris">
        <nav class="mt-12">
            <h2 class="font-semibold">Peminjaman</h2>
            <ul class="gap-3 flex flex-col mt-4">
                <li>
                    <a href="PeminjamanBarangBeforeScan.html" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" class="text-white" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Peminjaman Barang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex bg-main rounded-lg">
                        <img src="../assets/boxIcon.svg" alt="inventaris">
                        <p class="ml-2 text-white font-semibold">Peminjaman Ruang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Sewa Barang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Sewa Ruang</p>
                    </a>
                </li>
            </ul>
            <h2 class="font-semibold mt-[2rem]">Peminjaman</h2>
            <ul class="gap-3 flex flex-col mt-4">
                <li>
                    <a href="CariBarangUser.html" class="p-3 flex  rounded-lg">
                        <img src="../assets/searchIcon.svg" class="text-white" alt="inventaris">
                        <p class="ml-2 font-semibold text-natural-4">Cari Barang</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="bg-white px-[32px] laptop:px-[64px] hp:row-start-3 tablet:row-start-2 col-span-2">
        <div class="w-full bg-mainbg h-[105px] rounded-[15px] mt-4 flex justify-between">
            <div class="ml-8 pt-[24px]">
                <h3 class="text-main font-semibold text-[20px]">Inventaris</h3>
                    <a href="" class="text-natural-4">...   ></a>
                    <a href="" class="text-natural-4">Scan QR Code</a>
                    <span>> Formulir Peminjaman</span>
            </div>
            <img src="../assets/piggy.svg" alt="piggy">
        </div>
        <div class="shadow-formBarang mt-6 rounded-[15px] mb-14">
            <h3 class="border-b-natural-8 pt-4 relative border-b-[1px] px-6 pb-4 after:content-[''] after:w-[150px] after:h-[1px] after:absolute after:bottom-[-1px] after:left-0 after:bg-main">Form Peminjaman</h3>
            <form class="px-6 grid tablet:grid-cols-2 gap-x-[24px] gap-y-[16px] mt-8 hp:grid-cols-1">
                <div>
                    <label class="block font-semibold mb-[12px]" for="kodeBarang">Kode Barang</label>
                    <input type="text" placeholder="Input Text" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main" id="kodeBarang">
                </div>
                <div>
                    <label class="block font-semibold mb-[12px]" for="jumlahBarang">Jumlah Barang</label>
                    <input type="text" placeholder="Input Text" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main" id="jumlahBarang">
                </div>
                <div>
                    <label class="block font-semibold mb-[12px]" for="namaBarang">Nama Peminjam</label>
                    <input type="text" placeholder="Input Text" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main" id="namaBarang">
                </div>
                <div>
                    <label class="block font-semibold mb-[12px]" for="PengadaanTahun">Tanggal Peminjaman Barang</label>
                    <input type="date" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main text-natural-6" id="PengadaanTahun">
                </div>
                <div>
                    <label class="block font-semibold mb-[12px]" for="kategori">Guru/Karyawan/Siswa</label>
                    <select class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full" name="kategori" id="kategori">
                        <option value="kategori1">kategori1</option>
                        <option value="kategori2">kategori2</option>
                        <option value="kategori3">kategori3</option>
                    </select>
                </div>
                <div>
                    <label class="block font-semibold mb-[12px]" for="hargaSatuan">Tanggal/Pengembalian Barang</label>
                    <input type="date" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main text-natural-6" id="hargaSatuan">
                </div>
                <div>
                    <label class="block font-semibold mb-[12px]" for="nip">NIP/NIS</label>
                    <input type="text" placeholder="Input Text" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main" id="nip">
                    <label class="block font-semibold mb-[12px] mt-[16px]" for="deskripsi">Deskripsi</label>
                    <textarea class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main" name="deskripsi" id="deskripsi" cols="20" rows="5"></textarea>
                </div>
                <div>
                    <label class="block font-semibold mb-[12px] " for="noKategori">Lokasi Terakhir</label>
                    <input type="text" placeholder="Input Text" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] mb-[10px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main" id="noKategori">
                    <label class="block font-semibold mb-[12px]" for="spesifikasi">Foto Barang</label>
                    <input type="file" class="min-w-[44px] min-h-[44px] border-natural-6 border-[2px] rounded-[10px] px-4 py-[11px] w-full focus:outline-main text-natural-6" id="spesifikasi">
                    <div class="flex items-center gap-x-2 mt-[1rem]">
                        <input class="bg-natural-7" type="checkbox" id="confirm">
                        <label class="block text-natural-6" for="confirm">Apakah data sudah benar?</label>
                    </div>  
                </div> 
                <div class="relative tablet:row-start-13 tablet:col-start-2 hp:row-start-[30]">
                    <button type="submit" class="absolute gap-x-2 flex bottom-5 right-6 px-6 py-3 bg-main rounded-[10px] text-white font-semibold hover:bg-main_hover">Submit Data <img src="../assets/arrow.svg" alt="submit"></button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>