<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body class="laptop:grid tablet:grid-cols-2columns tablet:grid-rows-tabletRows hp:flex hp:flex-col min-h-[100vh] app-container">
    <header class="bg-white items-center grid grid-cols-2 h-[86px] hp:my-10 laptop:my-0 z-20 px-[32px] laptop:px-[64px] w-full">
        <div class="hp:col-span-4 flex laptop:hidden justify-between hp:mb-5">
            <img src="../assets/logoWeb.svg" alt="skomdaInventaris">
            <button class="flex justify-around flex-col hp:min-w-[30px] hp:min-h-[24px] tablet:min-w-[44px] tablet:min-h-[44px]">
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
                <span class="w-full bg-black block h-[3px] rounded-sm"></span>
            </button>
        </div>
        <div class="header__search flex bg-natural-8 rounded-md px-4 py-3 h-12 laptop:max-w-96 hp:col-start-1 hp:col-span-2">
            <img src="../assets/searchIcon.svg" alt="Search">
            <input 
            type="text"
            placeholder="Search"
            class="outline-none bg-natural-8 rounded-md ml-3 w-full">
        </div>
        <div class="header__profile flex items-center col-start-3">
            <a href="" class="hp:ml-3">
                <img src="../assets/bell.svg" alt="">
            </a>
            <a href="" class="ml-[32px]">
                <img src="../assets/userProfileDummy.svg" alt="">
            </a>
        </div>
    </header>
    <aside class="bg-white h-full w-full z-10 col-start-1 row-start-1 row-span-3 p-7 shadow-sidebar hidden tablet:hidden laptop:block ">
        <img src="../assets/logoWeb.svg" alt="skomdaInventaris">
        <nav class="mt-12">
            <h2 class="font-semibold">Peminjaman</h2>
            <ul class="gap-3 flex flex-col mt-4">
                <li>
                    <a href="PeminjamanBarangBeforeScan.html" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" class="text-white" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Peminjaman Barang</p>
                    </a>
                </li>
                <li>
                    <a href="PeminjamanRuangUser.html" class="p-3 flex bg-main rounded-lg">
                        <img src="../assets/boxIcon.svg" alt="inventaris">
                        <p class="ml-2 text-white font-semibold">Peminjaman Ruang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Sewa Barang</p>
                    </a>
                </li>
                <li>
                    <a href="" class="p-3 flex rounded-lg">
                        <img src="../assets/boxIconDark.svg" alt="inventaris">
                        <p class="ml-2 text-natural-4 font-semibold">Sewa Ruang</p>
                    </a>
                </li>
            </ul>
            <h2 class="font-semibold mt-[2rem]">Peminjaman</h2>
            <ul class="gap-3 flex flex-col mt-4">
                <li>
                    <a href="CariBarangUser.html" class="p-3 flex  rounded-lg">
                        <img src="../assets/searchIcon.svg" class="text-white" alt="inventaris">
                        <p class="ml-2 font-semibold text-natural-4">Cari Barang</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="bg-white px-[32px] laptop:px-[64px] hp:row-start-3 tablet:row-start-2 col-span-2 w-full">
        <div class="w-full bg-mainbg h-[105px] rounded-[15px] mt-4 flex justify-between">
            <div class="ml-8 pt-[24px]">
                <h3 class="text-main font-semibold text-[20px]">Inventaris</h3>
                    <a href="" class="text-natural-4">Home</a>
                    <span class="">> Peminjaman Barang</span>
            </div>
            <img src="../assets/piggy.svg" alt="piggy" class="">
        </div>
        <div class="container w-full desktop:flex justify-between hp:block hp:mx-auto">
            <div class="desktop:w-[30%] hp:mx-auto hp:justify-center mt-6" style="margin-left: 0;">
                <div class="desktop:h-[75vh] hp:h-fit tablet:h-fit bg-white shadow-lg rounded-xl p-4">
                    <div class="bg-natural-7 rounded-xl">
                        <img src="../assets/LineScan.svg" alt="" width="150" class="mx-auto py-[2rem]">
                    </div>
                    <div class="mt-[30px] mx-auto w-fit">
                        <a href="PeminjamanBarangAfterScan.html" class="bg-main px-8 py-3 hover:bg-main_hover text-white rounded-[10px] ">Scan QR Code</a>
                    </div>
                    <div class="mt-[30px] mx-auto w-fit">
                        <p class="text-natural-6 text-center">Scan barcode yang ada di barang pinjamanmu.</p>
                    </div>
                </div>
                
            </div>
            <div class="shadow-formBarang desktop:mt-6 rounded-[15px] mb-[2rem] desktop:w-[65%] desktop:h-[78vh] hp:h-fit hp:w-full hp:mt-[5rem] tablet:mt-[5rem] pb-[1.5rem]">
                <h3 class="border-b-natural-8 pt-4 relative border-b-[1px] px-6 pb-4 after:content-[''] after:w-[120px] after:h-[1px] after:absolute after:bottom-[-1px] after:left-0 after:bg-main">Barang 1</h3>
                <div class="mx-auto w-fit mt-[5rem]">
                    <img src="../assets/peminjaman-barang-img.svg" alt="">
                    <p class="text-natural-4 text-center mt-[2rem]">Belum ada barang terscan</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>